openapi: 3.1.0
info:
  title: mgPass API
  description: |
    The mgPass platform API powers identity, authentication, rewards, and subscriptions
    across MG Digital products in Ghana and beyond.

    ## Hosts

    | Host                 | Purpose                                                |
    |----------------------|--------------------------------------------------------|
    | `auth.mgpass.net`    | Primary API, OAuth/OIDC, SDK bundles, hosted UI        |
    | `pay.mgpass.net`     | Hosted checkout UI                                      |
    | `console.mgpass.net` | Developer console — register and configure your apps   |
    | `mgpass.net`         | End-user account portal                                |
    | `docs.mgpass.net`    | This documentation site                                |

    ## Unified Applications model

    Every integration in mgPass is an **application** with zero or more
    **capabilities** attached: OAuth, Rewards, and/or Subscriptions. A single
    `application_id` is used across the entire API. A capability is enabled by
    `POST`ing it and disabled by `DELETE`ing it.

    ## Authentication

    Four auth methods are used across the API:

    - **`adminBearer`** — admin user access token with the `mgpass:admin` scope.
      Used for all `/api/*` management endpoints (applications, users, plans,
      subscriptions, promo codes, rewards rules, settings, audit logs, etc.).
    - **`userBearer`** — OAuth access token issued to an end user via OIDC.
      Used for all `/api/account/*` self-service endpoints and `/userinfo`.
    - **`tenantApiKey`** — tenant-issued API key, sent in the `X-API-Key` header.
      Used for the tenant-facing v1 API (`/v1/*`) and the rewards partner ingestion
      endpoint (`POST /api/partner/events`).
    - **`basicClient`** — HTTP Basic auth (client_id : client_secret) for OAuth
      confidential clients calling `POST /token`.

    ## Money

    All money values are integers in **minor units** — pesewas for `GHS`, cents for `USD`.
    Every money-bearing field has a sibling `currency` field (`GHS` or `USD`).

    ## Errors

    Errors share the canonical envelope `{ "error": { "code": string, "message": string, "details"?: object } }`.

  version: "3.0.0"
  contact:
    name: MG Digital Engineering
    email: engineering@mediageneral.com

servers:
  - url: https://auth.mgpass.net
    description: Primary API (auth, management, tenant v1, SDKs)
  - url: https://pay.mgpass.net
    description: Hosted checkout (UI only — no JSON paths)

tags:
  - name: Authentication
    description: OAuth 2.0 / OIDC token, discovery, introspection, revocation.
  - name: User Management
    description: Admin endpoints for creating, updating, and managing user accounts.
  - name: Account Self-Service
    description: End-user endpoints for profile, sessions, MFA, identities, and account export/delete.
  - name: Applications
    description: Manage the unified `applications` spine — every integration is an application.
  - name: OAuth Capability
    description: Attach, update, and rotate the OAuth capability for an application.
  - name: Rewards Capability
    description: Attach, update, and rotate the Rewards capability for an application.
  - name: Subscriptions Capability
    description: Attach, update, and rotate the Subscriptions capability for an application.
  - name: Subscription Plans
    description: Manage subscription plans (admin and tenant v1 surfaces).
  - name: Subscriptions
    description: Subscription lifecycle, state changes, refunds, and audit.
  - name: Checkout
    description: Hosted and embedded checkout sessions.
  - name: Invoices
    description: Invoices generated by the subscriptions engine.
  - name: Payments
    description: Payment attempts and history for subscriptions.
  - name: Promo Codes
    description: Manage promo codes and trial extensions.
  - name: Subscription Seats
    description: Multi-seat plan invites and acceptance.
  - name: Notifications (User)
    description: In-app notification inbox for the authenticated user.
  - name: Notification Preferences
    description: Per-event-type × per-surface preferences for the authenticated user.
  - name: Notification Templates (Admin)
    description: Admin CRUD for email/SMS/in-app notification templates.
  - name: Webhooks
    description: Outbound webhook configuration shared across all capabilities.
  - name: Sponsored Subscriptions
    description: Admin-granted subscriptions that bypass Paystack.
  - name: Revenue Analytics
    description: Revenue, churn, ARPU, and top-plan analytics.
  - name: Rewards Rules
    description: Admin CRUD for rewards points rules.
  - name: Rewards Catalog
    description: Admin CRUD for the rewards redemption catalog.
  - name: Rewards Benefits
    description: Manage tier benefits and tier-gated perks.
  - name: Cashback
    description: Cashback configuration and Paystack callback handling.
  - name: Partner Events
    description: Tenant ingestion of user events for the rewards engine.
  - name: Order Redemption
    description: Spending a user's points against an order in your own checkout.
  - name: Rewards Ledger
    description: Operator search, export and reconciliation over the points ledger.
  - name: Rewards Redemptions
    description: Operator search over every redemption, across all types.
  - name: Payments
    description: One-off charges for an arbitrary amount, separate from subscription billing.
  - name: Roles & Permissions
    description: Manage roles and scope assignments.
  - name: API Resources
    description: Manage API resources and their scopes.
  - name: Organizations
    description: Multi-tenancy organization management.
  - name: Audit Logs
    description: Query the immutable audit log.
  - name: Connectors
    description: Social and email/SMS connectors (Google, Facebook, SES, Hubtel).
  - name: Settings
    description: Global platform settings (sign-in, branding, password policy).
  - name: System Stats
    description: Platform-wide health and usage statistics.
  - name: SDKs
    description: Publicly served JavaScript SDK bundles.

security:
  - adminBearer: []

paths:
  # ─────────────────────────────────────────────────────────────────────────────
  # Authentication / OIDC
  # ─────────────────────────────────────────────────────────────────────────────
  /.well-known/openid-configuration:
    get:
      operationId: getOidcDiscovery
      tags: [Authentication]
      summary: OIDC discovery document
      security: []
      responses:
        '200':
          description: OIDC discovery metadata.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /.well-known/jwks.json:
    get:
      operationId: getJwks
      tags: [Authentication]
      summary: JSON Web Key Set
      security: []
      responses:
        '200':
          description: Active signing keys.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /.well-known/web-identity:
    get:
      operationId: getWebIdentity
      tags: [Authentication]
      summary: FedCM / Web Identity manifest
      security: []
      responses:
        '200':
          description: Web Identity metadata.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /token:
    post:
      operationId: tokenExchange
      tags: [Authentication]
      summary: OAuth 2.0 token endpoint
      description: |
        Exchange an authorization code, refresh token, or client credentials for
        an access token. **Confidential clients MUST authenticate** — send the
        `client_secret` via HTTP Basic (`client_id:client_secret`) or in the
        request body (`client_secret_post`). **Public clients MUST use PKCE**
        (send `code_verifier`; no secret). The `password` (ROPC) grant is
        deprecated and is not offered.
      security:
        - basicClient: []
        - {}
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token, client_credentials]
                code: { type: string }
                redirect_uri: { type: string, format: uri }
                code_verifier: { type: string }
                refresh_token: { type: string }
                client_id: { type: string }
                client_secret: { type: string }
                scope: { type: string }
      responses:
        '200':
          description: Token response.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '400':
          $ref: '#/components/responses/Error'

  /userinfo:
    get:
      operationId: getUserinfo
      tags: [Authentication]
      summary: OIDC userinfo
      security: [{ userBearer: [] }]
      responses:
        '200':
          description: Claims for the authenticated user.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401':
          $ref: '#/components/responses/Error'

  /token/introspect:
    post:
      operationId: introspectToken
      tags: [Authentication]
      summary: RFC 7662 token introspection
      security: [{ basicClient: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                token_type_hint: { type: string, enum: [access_token, refresh_token] }
      responses:
        '200':
          description: Introspection result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  active: { type: boolean }
                  scope: { type: string }
                  client_id: { type: string }
                  username: { type: string }
                  exp: { type: integer }

  /token/revoke:
    post:
      operationId: revokeToken
      tags: [Authentication]
      summary: RFC 7009 token revocation
      security: [{ basicClient: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                token_type_hint: { type: string, enum: [access_token, refresh_token] }
      responses:
        '200': { description: Token revoked (or already invalid). }

  # ─────────────────────────────────────────────────────────────────────────────
  # Account self-service
  # ─────────────────────────────────────────────────────────────────────────────
  /api/account/profile:
    get:
      operationId: getAccountProfile
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Get my profile
      responses:
        '200':
          description: User profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
    patch:
      operationId: updateAccountProfile
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Update my profile
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserProfileUpdate' }
      responses:
        '200':
          description: Updated profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }

  /api/account/sessions:
    get:
      operationId: listAccountSessions
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: List my active sessions
      responses:
        '200':
          description: Sessions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Session' }
    delete:
      operationId: revokeAllAccountSessions
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Revoke all of my sessions except the current one
      responses:
        '204': { description: Sessions revoked. }

  /api/account/sessions/{sessionId}:
    delete:
      operationId: revokeAccountSession
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Revoke a single session
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string } }
      responses:
        '204': { description: Session revoked. }

  /api/account/identities:
    get:
      operationId: listAccountIdentities
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: List my linked social identities
      responses:
        '200':
          description: Linked identities.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Identity' }

  /api/account/identities/{provider}/unlink:
    post:
      operationId: unlinkAccountIdentity
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Unlink a social identity
      parameters:
        - { in: path, name: provider, required: true, schema: { type: string } }
      responses:
        '204': { description: Identity unlinked. }

  /api/account/password:
    post:
      operationId: changeAccountPassword
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Change my password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string }
                new_password: { type: string }
      responses:
        '204': { description: Password changed. }

  /api/account/apps:
    get:
      operationId: listAccountConnectedApps
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: List third-party apps I have authorized
      responses:
        '200':
          description: Connected apps.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ConnectedApp' }

  /api/account/apps/{clientId}/revoke:
    post:
      operationId: revokeAccountConnectedApp
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Revoke a connected app's tokens
      parameters:
        - { in: path, name: clientId, required: true, schema: { type: string } }
      responses:
        '204': { description: App revoked. }

  /api/account/mfa/setup:
    post:
      operationId: setupAccountMfa
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Start TOTP MFA enrollment
      responses:
        '200':
          description: Provisioning URI and secret.
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  otpauth_url: { type: string }
                  qr_code_data_url: { type: string }

  /api/account/mfa/verify:
    post:
      operationId: verifyAccountMfa
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Confirm MFA enrollment with first TOTP code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: Backup codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  backup_codes:
                    type: array
                    items: { type: string }

  /api/account/mfa:
    delete:
      operationId: disableAccountMfa
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Disable MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
      responses:
        '204': { description: MFA disabled. }

  /api/account/rewards:
    get:
      operationId: getAccountRewardsSummary
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: My rewards balance and tier
      responses:
        '200':
          description: Rewards summary.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardsSummary' }

  /api/account/rewards/history:
    get:
      operationId: getAccountRewardsHistory
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: My points ledger
      parameters:
        - { in: query, name: limit, schema: { type: integer, default: 50, maximum: 200 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200':
          description: Points ledger entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/PointsLedgerEntry' }
                  total: { type: integer, description: Entries in total, ignoring paging. }

  /api/account/rewards/redemptions:
    get:
      operationId: getAccountRewardsRedemptions
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: My catalog redemptions
      responses:
        '200':
          description: Redemptions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Redemption' }

  /api/account/rewards/redeem:
    post:
      operationId: redeemRewardCatalogItem
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Redeem a catalog item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reward_id]
              properties:
                reward_id:
                  type: string
                  description: The catalog item to redeem. Must be active, inside its availability window, and open to the user's tier.
      responses:
        '201':
          description: Redemption created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Redemption' }

  /api/account/cashback/redeem:
    post:
      operationId: redeemCashback
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Redeem cashback to mobile money
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [points, phone_number, network]
              properties:
                points:
                  type: integer
                  minimum: 250
                  description: Points to convert. The platform minimum is 250; a tier may set a higher one.
                phone_number: { type: string, example: '0244123456' }
                network:
                  type: string
                  enum: [mtn, telecel, airteltigo]
                  description: Lowercase. Any other value is rejected.
      responses:
        '201':
          description: The redemption was created and queued for payout.
          content:
            application/json:
              schema:
                type: object
                properties:
                  redemption_id: { type: string }
                  status: { type: string, enum: [pending] }
                  points: { type: integer, description: Points taken from the balance. }
                  tier: { type: string }
                  rate: { type: number, description: Cedis per point at this tier. }
                  gross_amount: { type: number, description: '`points` x `rate`, in cedis.' }
                  fee_rate: { type: number, description: Processing fee as a fraction of the gross. }
                  fee_amount: { type: number, description: The fee in cedis. }
                  net_amount: { type: number, description: What reaches the wallet, in cedis. }

  /api/account/subscriptions:
    get:
      operationId: listAccountSubscriptions
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: List my subscriptions
      responses:
        '200':
          description: Subscriptions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Subscription' }

  /api/account/subscriptions/{id}:
    get:
      operationId: getAccountSubscription
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Get one of my subscriptions
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/account/subscriptions/{id}/cancel:
    post:
      operationId: cancelAccountSubscription
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Cancel one of my subscriptions
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                at_period_end: { type: boolean, default: true }
                reason: { type: string }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/account/subscriptions/{id}/change-plan:
    post:
      operationId: changeAccountSubscriptionPlan
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Change the plan of one of my subscriptions
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id: { type: string }
                proration_mode: { type: string, enum: [credit_now, credit_next_invoice, none], default: credit_now }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/account/subscriptions/{id}/upgrade-preview:
    get:
      operationId: previewAccountSubscriptionUpgrade
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Preview the proration for a plan change
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: query, name: plan_id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Proration preview.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProrationPreview' }

  /api/account/subscriptions/{id}/seats:
    get:
      operationId: listAccountSubscriptionSeats
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: List seats on a multi-seat subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Seats.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Seat' }
  /api/account/subscriptions/{id}/seats/invite:
    post:
      operationId: inviteAccountSubscriptionSeat
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Invite someone to a seat
      description: |
        Only the primary subscriber can invite, only on an `active` or `trialing`
        subscription, and only on a plan that allows more than one seat. The invitee
        receives an email; the seat exists from this call, before they accept.
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, example: friend@example.com }
      responses:
        '201':
          description: The seat was created and the invitation sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  seat_id: { type: string }
                  invite_email: { type: string, format: email }
        '400':
          description: |
            `invalid_email` when the address is missing or malformed, `invalid_state`
            when the subscription is not active or trialing, `not_family_plan` when the
            plan allows only one seat, and `self_invite` when the address is the primary
            subscriber's own.
        '403':
          description: '`forbidden` — only the primary subscriber can invite seats.'
        '404':
          description: '`not_found` or `plan_not_found`.'

  /api/account/subscriptions/{id}/seats/{seatId}:
    delete:
      operationId: removeAccountSubscriptionSeat
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Remove a seat
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: seatId, required: true, schema: { type: string } }
      responses:
        '204': { description: Seat removed. }

  /api/account/seats/accept:
    post:
      operationId: acceptSeatInvite
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Accept a seat invite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invite_token]
              properties:
                invite_token: { type: string }
      responses:
        '200':
          description: Seat accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Seat' }

  /api/account/notifications:
    get:
      operationId: listAccountNotifications
      tags: [Notifications (User)]
      security: [{ userBearer: [] }]
      summary: List my notifications
      parameters:
        - { in: query, name: status, schema: { type: string, enum: [all, read, unread], default: all } }
        - { in: query, name: category, schema: { $ref: '#/components/schemas/NotificationCategory' } }
        - { in: query, name: limit, schema: { type: integer, default: 50, maximum: 200 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200':
          description: Notifications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Notification' }
                  next_cursor: { type: [string, "null"] }

  /api/account/notifications/{id}:
    get:
      operationId: getAccountNotification
      tags: [Notifications (User)]
      security: [{ userBearer: [] }]
      summary: Get one notification
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Notification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notification' }
    patch:
      operationId: updateAccountNotification
      tags: [Notifications (User)]
      security: [{ userBearer: [] }]
      summary: Mark notification read or unread
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                read: { type: boolean }
      responses:
        '200':
          description: Updated notification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notification' }

  /api/account/notifications/unread-count:
    get:
      operationId: getAccountNotificationUnreadCount
      tags: [Notifications (User)]
      security: [{ userBearer: [] }]
      summary: Unread notification count
      responses:
        '200':
          description: Count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }

  /api/account/notifications/mark-all-read:
    post:
      operationId: markAllAccountNotificationsRead
      tags: [Notifications (User)]
      security: [{ userBearer: [] }]
      summary: Mark all notifications as read
      responses:
        '204': { description: Marked as read. }

  /api/account/notification-preferences:
    get:
      operationId: getAccountNotificationPreferences
      tags: [Notification Preferences]
      security: [{ userBearer: [] }]
      summary: Get my notification preferences
      responses:
        '200':
          description: Preferences.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/NotificationPreference' }
    put:
      operationId: updateAccountNotificationPreferences
      tags: [Notification Preferences]
      security: [{ userBearer: [] }]
      summary: Replace my notification preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: array
                  items: { $ref: '#/components/schemas/NotificationPreference' }
      responses:
        '200':
          description: Updated preferences.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/NotificationPreference' }

  /api/account/notification-preferences/default-events:
    get:
      operationId: listDefaultNotificationEvents
      tags: [Notification Preferences]
      security: [{ userBearer: [] }]
      summary: List notification event types and their default surfaces
      responses:
        '200':
          description: Defaults.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    event_type: { type: string }
                    category: { $ref: '#/components/schemas/NotificationCategory' }
                    default_surfaces:
                      type: array
                      items: { type: string, enum: [in_app, email, sms] }

  /api/account/delete:
    post:
      operationId: requestAccountDelete
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Request account deletion (sends confirmation email)
      responses:
        '202': { description: Confirmation email sent. }

  /api/account/delete/confirm:
    post:
      operationId: confirmAccountDelete
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Confirm account deletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '204': { description: Account scheduled for deletion. }

  /api/account/summary:
    get:
      operationId: getAccountSummary
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Composite summary (profile + rewards + active subs)
      responses:
        '200':
          description: Summary.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/account/activity:
    get:
      operationId: getAccountActivity
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: Recent activity log for my account
      responses:
        '200':
          description: Activity entries.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }

  /api/account/export:
    get:
      operationId: exportAccountData
      tags: [Account Self-Service]
      security: [{ userBearer: [] }]
      summary: GDPR-style data export
      responses:
        '200':
          description: Export bundle.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  # ─────────────────────────────────────────────────────────────────────────────
  # Applications (spine + capabilities)
  # ─────────────────────────────────────────────────────────────────────────────
  /api/applications:
    get:
      operationId: listApplications
      tags: [Applications]
      summary: List applications
      parameters:
        - { in: query, name: organization_id, schema: { type: string } }
        - { in: query, name: capability, schema: { type: string, enum: [oauth, rewards, subscriptions] } }
        - { in: query, name: q, schema: { type: string } }
      responses:
        '200':
          description: Applications.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Application' }
    post:
      operationId: createApplication
      tags: [Applications]
      summary: Create an application (spine row only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationCreate' }
      responses:
        '201':
          description: Application created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Application' }

  /api/applications/{id}:
    get:
      operationId: getApplication
      tags: [Applications]
      summary: Get an application (spine + attached capabilities)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Application.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Application' }
    patch:
      operationId: updateApplication
      tags: [Applications]
      summary: Update the application spine row
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationUpdate' }
      responses:
        '200':
          description: Updated application.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Application' }
    delete:
      operationId: deleteApplication
      tags: [Applications]
      summary: Delete an application and all of its capabilities
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/applications/{id}/capabilities/oauth:
    post:
      operationId: enableOauthCapability
      tags: [OAuth Capability]
      summary: Attach the OAuth capability to an application
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationOAuthCapabilityCreate' }
      responses:
        '201':
          description: Capability attached. Returns plaintext `client_secret` once.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ApplicationOAuthCapability' }
                  - type: object
                    properties:
                      client_secret: { type: string, description: 'Plaintext client secret, returned once.' }
    patch:
      operationId: updateOauthCapability
      tags: [OAuth Capability]
      summary: Update the OAuth capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationOAuthCapability' }
      responses:
        '200':
          description: Updated capability.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApplicationOAuthCapability' }
    delete:
      operationId: disableOauthCapability
      tags: [OAuth Capability]
      summary: Detach the OAuth capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Capability removed. }

  /api/applications/{id}/capabilities/oauth/rotate-secret:
    post:
      operationId: rotateOauthClientSecret
      tags: [OAuth Capability]
      summary: Rotate the OAuth client secret
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: New client secret (plaintext, returned once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret: { type: string }
                  rotated_at: { type: string, format: date-time }

  /api/applications/{id}/capabilities/rewards:
    post:
      operationId: enableRewardsCapability
      tags: [Rewards Capability]
      summary: Attach the Rewards capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationRewardsCapabilityCreate' }
      responses:
        '201':
          description: Capability attached. Returns plaintext `api_key` once.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ApplicationRewardsCapability' }
                  - type: object
                    properties:
                      api_key: { type: string }
    patch:
      operationId: updateRewardsCapability
      tags: [Rewards Capability]
      summary: Update the Rewards capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationRewardsCapability' }
      responses:
        '200':
          description: Updated capability.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApplicationRewardsCapability' }
    delete:
      operationId: disableRewardsCapability
      tags: [Rewards Capability]
      summary: Detach the Rewards capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Capability removed. }

  /api/applications/{id}/capabilities/rewards/rotate-key:
    post:
      operationId: rotateRewardsApiKey
      tags: [Rewards Capability]
      summary: Rotate the Rewards API key
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: New API key (plaintext, returned once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key: { type: string }
                  rotated_at: { type: string, format: date-time }

  /api/applications/{id}/capabilities/subscriptions:
    post:
      operationId: enableSubscriptionsCapability
      tags: [Subscriptions Capability]
      summary: Attach the Subscriptions capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationSubscriptionsCapabilityCreate' }
      responses:
        '201':
          description: Capability attached. Returns plaintext `api_key` once.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ApplicationSubscriptionsCapability' }
                  - type: object
                    properties:
                      api_key: { type: string }
    patch:
      operationId: updateSubscriptionsCapability
      tags: [Subscriptions Capability]
      summary: Update the Subscriptions capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplicationSubscriptionsCapability' }
      responses:
        '200':
          description: Updated capability.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApplicationSubscriptionsCapability' }
    delete:
      operationId: disableSubscriptionsCapability
      tags: [Subscriptions Capability]
      summary: Detach the Subscriptions capability
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Capability removed. }

  /api/applications/{id}/capabilities/subscriptions/rotate-key:
    post:
      operationId: rotateSubscriptionsApiKey
      tags: [Subscriptions Capability]
      summary: Rotate the Subscriptions API key
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: New API key (plaintext, returned once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key: { type: string }
                  rotated_at: { type: string, format: date-time }

  /api/applications/{id}/subscriptions/sponsor:
    post:
      operationId: sponsorApplicationSubscription
      tags: [Sponsored Subscriptions]
      summary: Admin-grant a sponsored subscription (bypasses Paystack)
      description: |
        Idempotent — a partial unique index on `(application_id, user_id, plan_id, status='active')`
        prevents duplicates. Sponsored subscriptions are excluded from revenue aggregates.
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, plan_id]
              properties:
                user_id: { type: string }
                plan_id: { type: string }
                ends_at: { type: [string, "null"], format: date-time }
                reason: { type: string }
                idempotency_key: { type: string }
      responses:
        '201':
          description: Sponsored subscription created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/applications/{id}/webhooks:
    get:
      operationId: listApplicationWebhooks
      tags: [Webhooks]
      summary: List webhooks for an application
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Webhooks.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Webhook' }
    post:
      operationId: createApplicationWebhook
      tags: [Webhooks]
      summary: Create a webhook
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreate' }
      responses:
        '201':
          description: Webhook created. Returns plaintext `webhook_secret` once.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Webhook' }
                  - type: object
                    properties:
                      webhook_secret: { type: string, description: 'HMAC secret (raw, returned once).' }

  /api/applications/{id}/webhooks/{webhookId}:
    get:
      operationId: getApplicationWebhook
      tags: [Webhooks]
      summary: Get a webhook
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: webhookId, required: true, schema: { type: string } }
      responses:
        '200':
          description: Webhook.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }
    patch:
      operationId: updateApplicationWebhook
      tags: [Webhooks]
      summary: Update a webhook
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: webhookId, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreate' }
      responses:
        '200':
          description: Updated webhook.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }
    delete:
      operationId: deleteApplicationWebhook
      tags: [Webhooks]
      summary: Delete a webhook
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: webhookId, required: true, schema: { type: string } }
      responses:
        '204': { description: Webhook deleted. }

  /api/applications/{id}/webhooks/{webhookId}/rotate-secret:
    post:
      operationId: rotateApplicationWebhookSecret
      tags: [Webhooks]
      summary: Rotate a webhook's HMAC secret
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: webhookId, required: true, schema: { type: string } }
      responses:
        '200':
          description: New webhook secret (returned once).
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook_secret: { type: string }
                  rotated_at: { type: string, format: date-time }

  # ─────────────────────────────────────────────────────────────────────────────
  # Management — Subscriptions Engine
  # ─────────────────────────────────────────────────────────────────────────────
  /api/subscriptions/plans:
    get:
      operationId: listPlans
      tags: [Subscription Plans]
      summary: List plans
      parameters:
        - { in: query, name: application_id, schema: { type: string } }
        - { in: query, name: is_active, schema: { type: boolean } }
      responses:
        '200':
          description: Plans.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Plan' }
    post:
      operationId: createPlan
      tags: [Subscription Plans]
      summary: Create a plan
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanCreate' }
      responses:
        '201':
          description: Plan created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }

  /api/subscriptions/plans/{id}:
    get:
      operationId: getPlan
      tags: [Subscription Plans]
      summary: Get a plan
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Plan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }
    patch:
      operationId: updatePlan
      tags: [Subscription Plans]
      summary: Update a plan
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanUpdate' }
      responses:
        '200':
          description: Updated plan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }

  /api/subscriptions:
    get:
      operationId: listSubscriptions
      tags: [Subscriptions]
      summary: List subscriptions (admin)
      parameters:
        - { in: query, name: application_id, schema: { type: string } }
        - { in: query, name: user_id, schema: { type: string } }
        - { in: query, name: plan_id, schema: { type: string } }
        - { in: query, name: state, schema: { $ref: '#/components/schemas/SubscriptionState' } }
        - { in: query, name: limit, schema: { type: integer, default: 50, maximum: 200 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200':
          description: Subscriptions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Subscription' }
                  next_cursor: { type: [string, "null"] }

  /api/subscriptions/{id}:
    get:
      operationId: getSubscription
      tags: [Subscriptions]
      summary: Get a subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
    patch:
      operationId: updateSubscription
      tags: [Subscriptions]
      summary: Update a subscription (admin overrides)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata: { type: object, additionalProperties: true }
                billing_email: { type: string, format: email }
                state: { $ref: '#/components/schemas/SubscriptionState' }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/subscriptions/{id}/cancel:
    post:
      operationId: adminCancelSubscription
      tags: [Subscriptions]
      summary: Cancel a subscription (admin)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                at_period_end: { type: boolean, default: false }
                reason: { type: string }
      responses:
        '200':
          description: Cancelled subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /api/subscriptions/{id}/refund:
    post:
      operationId: adminRefundSubscriptionPayment
      tags: [Subscriptions]
      summary: Issue a refund against a subscription payment
      description: |
        Calls Paystack's refund API for Paystack-funded payments; falls back to
        a local-only refund row for Hubtel or when no original payment is found.
        Cancels the subscription immediately on success.
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, description: 'Refund amount in minor units (pesewas/cents).' }
                reason: { type: string, description: 'Free-form reason; passed to Paystack as merchant_note.' }
                payment_id: { type: string, description: 'Specific payment to refund. If omitted, the most recent succeeded payment is used.' }
      responses:
        '200':
          description: Refund issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  provider: { type: string, enum: [paystack, hubtel, none] }
                  paystack_refund_id: { type: string, description: 'Paystack refund id, when provider=paystack.' }
                  auto_refund: { type: boolean, description: 'true when the provider was called; false for hubtel/manual.' }
        '502':
          description: Paystack rejected the refund. Subscription is NOT cancelled; no local row written.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code: { type: string, example: paystack_refund_failed }
                      message: { type: string }

  /api/subscriptions/{id}/payments:
    get:
      operationId: listSubscriptionPayments
      tags: [Payments]
      summary: List payments for a subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Payments.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Payment' }

  /api/subscriptions/invoices:
    get:
      operationId: listInvoices
      tags: [Invoices]
      summary: List invoices
      parameters:
        - { in: query, name: subscription_id, schema: { type: string } }
        - { in: query, name: status, schema: { type: string, enum: [draft, open, paid, void, uncollectible] } }
        - { in: query, name: limit, schema: { type: integer, default: 50 } }
      responses:
        '200':
          description: Invoices.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Invoice' }

  /api/subscriptions/invoices/{id}:
    get:
      operationId: getInvoice
      tags: [Invoices]
      summary: Get an invoice
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Invoice.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }

  /api/subscriptions/promo-codes:
    get:
      operationId: listPromoCodes
      tags: [Promo Codes]
      summary: List promo codes
      responses:
        '200':
          description: Promo codes.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PromoCode' }
    post:
      operationId: createPromoCode
      tags: [Promo Codes]
      summary: Create a promo code
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PromoCodeCreate' }
      responses:
        '201':
          description: Promo code created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromoCode' }

  /api/subscriptions/promo-codes/{id}:
    get:
      operationId: getPromoCode
      tags: [Promo Codes]
      summary: Get a promo code
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Promo code.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromoCode' }
    patch:
      operationId: updatePromoCode
      tags: [Promo Codes]
      summary: Update a promo code
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PromoCodeCreate' }
      responses:
        '200':
          description: Updated promo code.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromoCode' }
    delete:
      operationId: deletePromoCode
      tags: [Promo Codes]
      summary: Delete a promo code
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/subscriptions/stats:
    get:
      operationId: getSubscriptionStats
      tags: [Revenue Analytics]
      summary: Revenue and churn analytics
      description: |
        Returns daily revenue sparkline, top plans by MRR, 30-day churn rate, 30-day ARPU,
        and 30-day refund volume. Sponsored subscriptions are excluded from monetary aggregates.
      parameters:
        - { in: query, name: application_id, schema: { type: string } }
        - { in: query, name: currency, schema: { type: string, enum: [GHS, USD] } }
      responses:
        '200':
          description: Stats.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatsRevenue' }

  /api/subscriptions/notifications:
    get:
      operationId: listSubscriptionNotifications
      tags: [Subscriptions]
      summary: List subscription notification records (admin)
      parameters:
        - { in: query, name: subscription_id, schema: { type: string } }
        - { in: query, name: event_type, schema: { type: string } }
      responses:
        '200':
          description: Notification records.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }

  # ─────────────────────────────────────────────────────────────────────────────
  # Tenant v1 API
  # ─────────────────────────────────────────────────────────────────────────────
  /v1/plans:
    get:
      operationId: tenantListPlans
      tags: [Subscription Plans]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — list plans
      responses:
        '200':
          description: Plans for the calling tenant.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Plan' }
    post:
      operationId: tenantCreatePlan
      tags: [Subscription Plans]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — create a plan
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanCreate' }
      responses:
        '201':
          description: Plan created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }

  /v1/plans/{id}:
    get:
      operationId: tenantGetPlan
      tags: [Subscription Plans]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — get a plan
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Plan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }
    patch:
      operationId: tenantUpdatePlan
      tags: [Subscription Plans]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — update a plan
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanUpdate' }
      responses:
        '200':
          description: Updated plan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }

  /v1/subscriptions:
    get:
      operationId: tenantListSubscriptions
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — list subscriptions
      parameters:
        - { in: query, name: user_id, schema: { type: string } }
        - { in: query, name: state, schema: { $ref: '#/components/schemas/SubscriptionState' } }
      responses:
        '200':
          description: Subscriptions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Subscription' }
    post:
      operationId: tenantCreateSubscription
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — create a subscription (server-to-server, no checkout)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionCreate' }
      responses:
        '201':
          description: Subscription created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/subscriptions/{id}:
    get:
      operationId: tenantGetSubscription
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — get a subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/subscriptions/{id}/cancel:
    post:
      operationId: tenantCancelSubscription
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — cancel a subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                at_period_end: { type: boolean, default: true }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/subscriptions/{id}/change-plan:
    post:
      operationId: tenantChangeSubscriptionPlan
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — change plan
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id: { type: string }
                proration_mode: { type: string, enum: [credit_now, credit_next_invoice, none] }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/subscriptions/{id}/apply-promo:
    post:
      operationId: tenantApplyPromoCode
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — apply a promo code to a subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: Updated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/subscriptions/{id}/reactivate:
    post:
      operationId: tenantReactivateSubscription
      tags: [Subscriptions]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — reactivate a cancelled subscription
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Reactivated subscription.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /v1/checkout:
    post:
      operationId: tenantCreateCheckoutSession
      tags: [Checkout]
      security: [{ tenantApiKey: [] }]
      summary: Create a checkout session (hosted or embedded)
      description: |
        Returns either a hosted checkout URL (`pay.mgpass.net/checkout/:sessionId`)
        or an embeddable session ID for use with `mgpass.checkout.open(...)`.

        Hubtel mobile-money cannot be paired with `interval=annual` plans — pass a card-capable
        provider for annual plans.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CheckoutCreate' }
      responses:
        '201':
          description: Checkout session.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: tenantListCheckoutSessions
      tags: [Checkout]
      security: [{ tenantApiKey: [] }]
      summary: List checkout sessions
      parameters:
        - { in: query, name: status, schema: { type: string, enum: [pending, completed, expired, failed] } }
        - { in: query, name: user_id, schema: { type: string } }
      responses:
        '200':
          description: Checkout sessions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CheckoutSession' }

  /v1/checkout/{sessionId}:
    get:
      operationId: tenantGetCheckoutSession
      tags: [Checkout]
      security: [{ tenantApiKey: [] }]
      summary: Get a checkout session
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string } }
      responses:
        '200':
          description: Session.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }

  /v1/promo-codes:
    get:
      operationId: tenantListPromoCodes
      tags: [Promo Codes]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — list promo codes
      responses:
        '200':
          description: Promo codes.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PromoCode' }
    post:
      operationId: tenantCreatePromoCode
      tags: [Promo Codes]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — create a promo code
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PromoCodeCreate' }
      responses:
        '201':
          description: Promo code created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromoCode' }

  /v1/notifications:
    post:
      operationId: tenantSendNotification
      tags: [Notifications (User)]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — send a notification to a user
      description: |
        Sends through the unified notification engine (in-app + email + SMS by user preference).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, event_type, title, body]
              properties:
                user_id: { type: string }
                event_type: { type: string }
                category: { $ref: '#/components/schemas/NotificationCategory' }
                priority: { $ref: '#/components/schemas/NotificationPriority' }
                title: { type: string }
                body: { type: string }
                action_url: { type: string, format: uri }
                metadata: { type: object, additionalProperties: true }
      responses:
        '202':
          description: Notification accepted for delivery.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_id: { type: string }

  # ─────────────────────────────────────────────────────────────────────────────
  # Rewards
  # ─────────────────────────────────────────────────────────────────────────────
  /api/partner/events:
    post:
      operationId: publishPartnerEvent
      tags: [Partner Events]
      security: [{ tenantApiKey: [] }]
      summary: Tenant — publish a rewards event
      description: |
        Submit a user event to the rewards engine. Points are calculated from matching rules,
        tier multiplier, partner multiplier, and daily/monthly caps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, event_type]
              properties:
                user_id: { type: string }
                event_type: { type: string }
                metadata: { type: object, additionalProperties: true }
                idempotency_key: { type: string }
      responses:
        '200':
          description: Event accepted and recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: boolean, example: true }
                  points_awarded: { type: integer, description: Points credited after the tier and Application multipliers. }
                  event_id: { type: string }

  /api/partner/redemptions/quote:
    post:
      operationId: quoteOrderRedemption
      tags: [Order Redemption]
      summary: What a user's points are worth against an order
      description: |
        Read-only. Runs the same arithmetic the reservation will, so a quote and
        the reservation that follows it cannot disagree. Call it on every cart
        change. Never compute a points discount in your own client: the rate is
        per tier and set by mgPass operators.
      security:
        - tenantApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, order_amount]
              properties:
                user_id:
                  type: string
                  example: usr_abc123def456
                order_amount:
                  type: number
                  description: The order total before any points discount, in GHS.
                  example: 500.00
                points:
                  type: integer
                  description: Ask about a specific number of points instead of the maximum.
                  example: 5000
      responses:
        '200':
          description: The quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRedemptionQuote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/partner/redemptions:
    post:
      operationId: reserveOrderRedemption
      tags: [Order Redemption]
      summary: Spend points against an order
      description: |
        Holds the points and returns the cedi value the order may claim. Charge
        `order_amount - value`.

        The hold lapses at `expires_at` (30 minutes by default, `ttl_seconds` to
        change it) and the platform returns the points itself, so a crashed
        checkout cannot strand a buyer's balance. Settle it anyway.

        `order_reference` is your own order id and is the idempotency key of
        record: a retry returns the original reservation with `replayed: true`
        rather than debiting twice.

        Asking for more points than are spendable returns 400 with the current
        quote in `details.quote`. The amount is never silently clamped.
      security:
        - tenantApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, order_reference, order_amount, points]
              properties:
                user_id:
                  type: string
                  example: usr_abc123def456
                order_reference:
                  type: string
                  description: Your own order id. Unique per application.
                  example: acme-ORD-4821
                order_amount:
                  type: number
                  example: 500.00
                points:
                  type: integer
                  example: 5000
                currency:
                  type: string
                  description: GHS only — the redemption rate is configured in cedis.
                  example: GHS
                metadata:
                  type: object
                  description: Stored on the ledger entry for your own reconciliation.
                ttl_seconds:
                  type: integer
                  description: >
                    How long to hold the points before the platform returns them.
                    Clamped to 300–86400. Defaults to 1800.
                  example: 1800
      responses:
        '200':
          description: Points reserved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OrderRedemption'
                  - type: object
                    properties:
                      replayed:
                        type: boolean
                        description: True when this repeated an earlier reservation.
        '400':
          description: Not enough points, or not permitted for this order and tier
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [insufficient_points, not_eligible, invalid_request, unsupported_currency]
                  message:
                    type: string
                  details:
                    type: object
                    properties:
                      quote:
                        $ref: '#/components/schemas/OrderRedemptionQuote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/partner/redemptions/{id}/commit:
    post:
      operationId: commitOrderRedemption
      tags: [Order Redemption]
      summary: The order was paid — settle the spend
      description: |
        Moves the redemption to `completed`. No points move; they left at
        reservation. Safe to repeat — a second commit returns `already: true`.
      security:
        - tenantApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: rdm_xyz789
      responses:
        '200':
          description: Settled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRedemption'
        '404':
          description: No such redemption for this application
        '409':
          description: The redemption is already cancelled or otherwise unsettleable

  /api/partner/redemptions/{id}/void:
    post:
      operationId: voidOrderRedemption
      tags: [Order Redemption]
      summary: The order failed — return the points
      description: |
        Restores the points and moves the redemption to `cancelled`. Safe to
        repeat: the refund is guarded on its own ledger entry, so a double void
        credits once.

        You must call this for any reservation whose payment did not complete,
        including abandoned carts. A reservation left `pending` holds the user's
        points.
      security:
        - tenantApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: rdm_xyz789
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: payment_failed
      responses:
        '200':
          description: Points restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRedemption'
        '404':
          description: No such redemption for this application
        '409':
          description: The redemption is already committed

  /api/partner/redemptions/by-order/{reference}:
    get:
      operationId: getOrderRedemptionByReference
      tags: [Order Redemption]
      summary: Look up a redemption by your own order reference
      description: For recovering from a lost response without retrying blind.
      security:
        - tenantApiKey: []
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
          example: acme-ORD-4821
      responses:
        '200':
          description: The redemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRedemption'
        '404':
          description: No redemption for that order reference

  /api/rewards/rules:
    get:
      operationId: listRewardsRules
      tags: [Rewards Rules]
      summary: List points rules
      responses:
        '200':
          description: Rules.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RewardsRule' }
    post:
      operationId: createRewardsRule
      tags: [Rewards Rules]
      summary: Create a points rule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RewardsRule' }
      responses:
        '201':
          description: Rule created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardsRule' }

  /api/rewards/rules/{id}:
    get:
      operationId: getRewardsRule
      tags: [Rewards Rules]
      summary: Get a rule
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Rule.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardsRule' }
    patch:
      operationId: updateRewardsRule
      tags: [Rewards Rules]
      summary: Update a rule
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RewardsRule' }
      responses:
        '200':
          description: Updated rule.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RewardsRule' }
    delete:
      operationId: deleteRewardsRule
      tags: [Rewards Rules]
      summary: Delete a rule
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/rewards/event-types:
    get:
      operationId: listRewardsEventTypes
      tags: [Rewards Rules]
      summary: List event types referenced by rules
      responses:
        '200':
          description: Event types.
          content:
            application/json:
              schema:
                type: array
                items: { type: string }

  /api/rewards/catalog:
    get:
      operationId: listRewardsCatalog
      tags: [Rewards Catalog]
      summary: List catalog items
      responses:
        '200':
          description: Catalog items.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CatalogItem' }
    post:
      operationId: createRewardsCatalogItem
      tags: [Rewards Catalog]
      summary: Create a catalog item
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CatalogItem' }
      responses:
        '201':
          description: Catalog item created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItem' }

  /api/rewards/catalog/{id}:
    get:
      operationId: getRewardsCatalogItem
      tags: [Rewards Catalog]
      summary: Get a catalog item
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItem' }
    patch:
      operationId: updateRewardsCatalogItem
      tags: [Rewards Catalog]
      summary: Update a catalog item
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CatalogItem' }
      responses:
        '200':
          description: Updated item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItem' }
    delete:
      operationId: deleteRewardsCatalogItem
      tags: [Rewards Catalog]
      summary: Delete a catalog item
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/rewards/credit:
    post:
      operationId: adminCreditPoints
      tags: [Rewards Rules]
      summary: Admin manual credit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, points, reason]
              properties:
                user_id: { type: string }
                points: { type: integer }
                reason: { type: string }
      responses:
        '201':
          description: Credit recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PointsLedgerEntry' }

  /api/rewards/benefits:
    get:
      operationId: listRewardsBenefits
      tags: [Rewards Benefits]
      summary: List tier benefits
      responses:
        '200':
          description: Benefits.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Benefit' }
    post:
      operationId: createRewardsBenefit
      tags: [Rewards Benefits]
      summary: Create a benefit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Benefit' }
      responses:
        '201':
          description: Benefit created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Benefit' }

  /api/rewards/benefits/{id}:
    get:
      operationId: getRewardsBenefit
      tags: [Rewards Benefits]
      summary: Get a benefit
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Benefit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Benefit' }
    patch:
      operationId: updateRewardsBenefit
      tags: [Rewards Benefits]
      summary: Update a benefit
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Benefit' }
      responses:
        '200':
          description: Updated benefit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Benefit' }
    delete:
      operationId: deleteRewardsBenefit
      tags: [Rewards Benefits]
      summary: Delete a benefit
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/rewards/stats:
    get:
      operationId: getRewardsStats
      tags: [Rewards Rules]
      summary: Rewards stats (admin)
      responses:
        '200':
          description: Rewards stats.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/rewards/cashback-config:
    get:
      operationId: listCashbackConfigs
      tags: [Cashback]
      summary: List cashback configurations
      responses:
        '200':
          description: Cashback configs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CashbackConfig' }

  /api/rewards/cashback-config/{id}:
    patch:
      operationId: updateCashbackConfig
      tags: [Cashback]
      summary: Update a cashback configuration
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CashbackConfig' }
      responses:
        '200':
          description: Updated config.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CashbackConfig' }

  /api/cashback/callback:
    post:
      operationId: cashbackPaystackCallback
      tags: [Cashback]
      summary: Paystack transfer webhook (server-to-server)
      security: []
      description: |
        Inbound webhook from Paystack reporting transfer status for cashback redemptions.
        Verified with the Paystack signature header.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: Acknowledged. }

  # ─────────────────────────────────────────────────────────────────────────────
  # Users / Orgs / Roles / Resources / Connectors / Settings / Audit / Stats
  # ─────────────────────────────────────────────────────────────────────────────
  /api/users:
    get:
      operationId: listUsers
      tags: [User Management]
      summary: List users
      parameters:
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: organization_id, schema: { type: string } }
        - { in: query, name: limit, schema: { type: integer, default: 50 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200':
          description: Users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/User' }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  has_more: { type: boolean }
    post:
      operationId: createUser
      tags: [User Management]
      summary: Create a user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreate' }
      responses:
        '201':
          description: User created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /api/users/{id}:
    get:
      operationId: getUser
      tags: [User Management]
      summary: Get a user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: User.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      operationId: updateUser
      tags: [User Management]
      summary: Update a user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreate' }
      responses:
        '200':
          description: Updated user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    delete:
      operationId: deleteUser
      tags: [User Management]
      summary: Delete a user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/users/{id}/suspend:
    post:
      operationId: suspendUser
      tags: [User Management]
      summary: Suspend a user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: User suspended.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /api/users/{id}/reactivate:
    post:
      operationId: reactivateUser
      tags: [User Management]
      summary: Reactivate a suspended user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: User reactivated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /api/users/{id}/reset-password:
    post:
      operationId: adminResetUserPassword
      tags: [User Management]
      summary: Send password-reset email to a user
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '202': { description: Reset email queued. }

  /api/organizations:
    get:
      operationId: listOrganizations
      tags: [Organizations]
      summary: List organizations
      responses:
        '200':
          description: Organizations.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Organization' }
    post:
      operationId: createOrganization
      tags: [Organizations]
      summary: Create an organization
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Organization' }
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }

  /api/organizations/{id}:
    get:
      operationId: getOrganization
      tags: [Organizations]
      summary: Get an organization
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Organization.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
    patch:
      operationId: updateOrganization
      tags: [Organizations]
      summary: Update an organization
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Organization' }
      responses:
        '200':
          description: Updated organization.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
    delete:
      operationId: deleteOrganization
      tags: [Organizations]
      summary: Delete an organization
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/roles:
    get:
      operationId: listRoles
      tags: [Roles & Permissions]
      summary: List roles
      responses:
        '200':
          description: Roles.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Role' }
    post:
      operationId: createRole
      tags: [Roles & Permissions]
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '201':
          description: Role created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }

  /api/roles/{id}:
    get:
      operationId: getRole
      tags: [Roles & Permissions]
      summary: Get a role
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Role.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
    patch:
      operationId: updateRole
      tags: [Roles & Permissions]
      summary: Update a role
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '200':
          description: Updated role.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
    delete:
      operationId: deleteRole
      tags: [Roles & Permissions]
      summary: Delete a role
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/resources:
    get:
      operationId: listResources
      tags: [API Resources]
      summary: List API resources
      responses:
        '200':
          description: Resources.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Resource' }
    post:
      operationId: createResource
      tags: [API Resources]
      summary: Create an API resource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Resource' }
      responses:
        '201':
          description: Resource created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }

  /api/resources/{id}:
    get:
      operationId: getResource
      tags: [API Resources]
      summary: Get an API resource
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '200':
          description: Resource.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
    patch:
      operationId: updateResource
      tags: [API Resources]
      summary: Update an API resource
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Resource' }
      responses:
        '200':
          description: Updated resource.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
    delete:
      operationId: deleteResource
      tags: [API Resources]
      summary: Delete an API resource
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }

  /api/connectors:
    get:
      operationId: listConnectors
      tags: [Connectors]
      summary: List configured connectors
      responses:
        '200':
[...]
